<div class="container">
    <div class="row">
      <h4>Employee list</h4>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Salary</th>
          <th>Department</th>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees.employeeList">
            <td>{{ employee.name }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.department.name }}</td>
          </tr>
        </tbody>
      </table>
      <a href="/#/employees/new">Add employee</a>
    </div>
  </div>